<script setup lang="ts">
import { arrayBuffer } from 'stream/consumers';

	const props = defineProps({
		title: { type: String, required: true },
		tags: { type: Array },
		description: { type: String, required: true},
		url: { type: String, required: true},
		image: { type: String }
	})
</script>

<template>
	<div>
		<div class="max-w-sm rounded-xl overflow-hidden shadow-lg">
			<a :href="props.url" target="_blank">
				<nuxt-img
					class="object-cover h-44"
					v-if="props.image"
					:src="props.image"
					:alt="props.title"
				/>
				<div v-if="(props.image === null)">
					<img
						class="object-cover w-full h-44"
						src="/programming-illustration.webp"
					/>
				</div>
			</a>
		<div class="px-6 py-4">
			<div class="font-bold text-xl mb-2 hover:underline"><a :href="props.url" target="_blank">{{ props.title }}</a></div>
				<p class="text-gray-700 text-base">
					{{ props.description }}
				</p>
			</div>
			<div class="px-6 pt-4 pb-2">
				<span v-for="tag in props.tags" class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{ tag }}</span>
			</div>
		</div>
	</div>
</template>
