<script setup lang="ts">
	const props = defineProps({
		title: { type: String, required: true },
		subtitle: { type: String, required: true },
	})
</script>

<template>
	<div class="max-w-screen-sm py-10">
		<div class="flex flex-col items-center">
			<AtomSectionHeaderSubTitle>{{ props.subtitle }}</AtomSectionHeaderSubTitle>
			<AtomSectionHeaderTitle>{{ props.title }}</AtomSectionHeaderTitle>
			<AtomSectionHeaderComment><slot /></AtomSectionHeaderComment>
		</div>
	</div>
</template>
