<script setup lang="ts">
	const { pending, data: posts } = useLazyFetch('https://dev.to/api/articles?username=mguinea')
	watch(posts, (newPosts) => {
	})
</script>

<template>
	<section class="flex flex-col items-center w-full bg-white py-20 px-6">
		<MoleculeSectionHeader title="From dev.to" subtitle="Posts">
			Learn, execute, fail, fix... and share with the community!
		</MoleculeSectionHeader>

		<div v-if="pending">
			Loading ...
		</div>
		<div v-else>
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
				<div v-for="post in posts">
					<MoleculeArticleCard
						:title="post.title"
						:tags="post.tag_list"
						:description="post.description"
						:url="post.url"
						:image="post.cover_image"
					></MoleculeArticleCard>
				</div>
			</div>
		</div>
	</section>
</template>
