<template>
	<section class="flex flex-col items-center w-full bg-gray-50 px-6">
		<div class="container flex flex-col justify-center p-6 mx-auto lg:flex-row lg:justify-between">
			<div class="flex flex-col justify-center p-6 text-center rounded-sm lg:max-w-md xl:max-w-lg lg:text-left">
				<div class="mt-2 mb-4 text-lg text-indigo-500">
					Hey There 👋 I am
				</div>
				<div class="text-center lg:text-left text-xl font-bold leading-none sm:text-5xl">
					Marc Guinea
				</div>
				<div class="mt-6 mb-4 text-lg">
					Software Engineer
				</div>
				<div class="flex flex-col space-y-4 sm:items-center sm:justify-center sm:flex-row sm:space-y-0 sm:space-x-4 lg:justify-start">
					<a href="www.linkedin.com/in/marcguinea" class="bg-indigo-500 text-white text-lg font-semibold rounded px-8 py-3">Contact Me</a>
				</div>
			</div>
			<div class="flex items-center justify-center p-6 mt-8 lg:mt-0 h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128">
				<img src="/profile.png" alt="" class="object-contain h-72 sm:h-80 lg:h-96 xl:h-112 2xl:h-128 rounded-full" />
			</div>
		</div>
	</section>
</template>
