<script setup>
	defineProps({
		isOpen: {
			type: Boolean,
			default: false
		}
	})
</script>

<style>
	@media only screen and (min-width: 768px) {
		.parent:hover .child {
			opacity:1;
			height:auto;
			overflow:none;
			transform: translateY(0);
		}
		.child {
			opacity:0;
			height:0;
			overflow:hidden;
			transform: translateY(-10%);
		}
	}

	@media only screen and (max-width: 767px) {
		.parent:hover .child {
			opacity:1;
			height:auto;
			overflow:none;
			transform: translateY(0);
		}
		.child {
			opacity:0;
			height:0;
			overflow:hidden;
			transform: translateY(-10%);
		}
	}
</style>

<template>
	<nav class="w-full text-gray-700 bg-white shadow-lg">
		<div
			class="flex flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8"
			@keydown.escape="isOpen = false"
			:class="{ 'shadow-lg' : isOpen , 'bg-secondary' : !isOpen}"
		>
			<!-- Logo and burguer -->
			<div class="p-4 flex flex-row items-center justify-between">
				<NuxtLink to="/" class="text-lg font-extrabold tracking-widest text-indigo-900 uppercase rounded-lg focus:outline-none focus:shadow-outline">
					MarcGuinea.com
				</NuxtLink>
				<button
					@click.native="isOpen = !isOpen"
					class="md:hidden rounded-lg focus:outline-none focus:shadow-outline"
					:class="{ 'transition transform-180': isOpen }"
				>
					<svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
						<path v-if="!isOpen" fill-rule="evenodd" clip-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"></path>
						<path v-if="isOpen" fill-rule="evenodd" clip-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"></path>
					</svg>
				</button>
			</div>

			<!-- Links -->
			<!--<div
				class="w-full lg:justify-end lg:flex lg:items-center lg:w-auto "
				:class="{ 'block shadow-2xl': isOpen, 'hidden': !isOpen }"
			>
				<div class="relative parent">
					<NuxtLink to="articulos" class="flex flex-row w-full inline p-4 text-sm font-semibold text-left items-center text-white hover:bg-gray-800 space-x-2 md:w-auto md:mt-0 md:ml-4">
						Artículos
					</NuxtLink>
				</div>
			</div>-->
		</div>
	</nav>
</template>
