<template>
	<section class="flex flex-col items-center w-full bg-gray-50 py-20 px-6">
		<MoleculeSectionHeader title="Showcase" subtitle="Recent Works">
			The projects I do in my free time and I am proud the most
		</MoleculeSectionHeader>

		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-4">
			<MoleculeProjectCard
				title="Laravel DDD Example"
				description="This is an example project gathering many technologies and approaches using as a base the DDD and Hexagonal architecture through Laravel framework."
				url="https://github.com/mguinea/laravel-ddd-example"
				image="laravel-logo.png"
				:tags="['DDD', 'SOLID', 'Best practices']"
			></MoleculeProjectCard>

			<MoleculeProjectCard
				title="Laravel Robots package"
				description="This is a Laravel package that enhaces the framework with the capacity of managing robots file dinamically allowing to differenciate between environments or configurations."
				url="https://packagist.org/packages/mguinea/laravel-robots"
				image="robots.gif"
				:tags="['Package', '+20k downloads']"
			></MoleculeProjectCard>
		</div>
	</section>
</template>
