<script setup lang="ts">
	const props = defineProps({
		src: { type: String, required: true},
		alt: { type: String, required: true },
		dataCanonicalSrc: { type: String, required: true }
	})
</script>

<template>
	<img 	:src="props.src"
				:alt="props.alt"
				:data-canonical-src="props.dataCanonicalSrc"
				class="h-10"
	>
</template>
