@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,100;0,200;0,500;1,100;1,300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply antialiased bg-white font-semibold
}

h1 {
    @apply text-center text-black text-4xl leading-8 pb-16
}

h2 {
    @apply text-center text-black text-3xl leading-6 pb-12
}

hr {
    @apply w-full bg-gray-500 mb-4
}

p {
	@apply pb-16
}
