<style>
body {
	@apply container mx-auto bg-white py-10 px-4
}

h1 {
	@apply text-black text-4xl text-left font-semibold leading-8 pb-6
}

h2 {
	@apply text-black text-3xl text-left font-semibold leading-6 pb-4
}

h3 {
	@apply text-indigo-700 text-2xl text-left font-semibold pb-4
}

hr {
	@apply w-full bg-gray-500 mb-4
}

p {
	@apply pb-4
}

ul {
	@apply list-disc ml-6 pb-4
}

.badge {
	@apply bg-indigo-100 text-indigo-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-indigo-200 dark:text-indigo-900
}
</style>

<template>
	<slot />
</template>
